<link rel="stylesheet" href="../../css/nav.css" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar">
    <% if (!user) { %> <% if(path !== "/") { %>
    <li class="nav-item">
      <a class="nav-link" href="/">Entrar</a>
    </li>
    <% } %> <% if(path !== "/register") { %>
    <li class="nav-item">
      <a class="nav-link" href="/register">Registrar</a>
    </li>
    <% } %> <% } %> <% if (user) { %>
    <li class="nav-item">
      <a class="nav-link" href="/home">Agendamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/agendamento">Novo agendamento</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Sair</a>
    </li>
    <% } %>
  </ul>
</nav>
