* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-bottom: 10px;
}
input,
select {
  display: flex;
  padding: 10px;
  width: 400px;
  margin: 10px 0;
  border: solid 1px;
  border-radius: 5px;
}
.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  margin-top: 10px;
  padding: 6px;
  width: 150px;
  border: solid 1px;
  border-radius: 3px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.options {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.options a {
  text-decoration: none;
  color: rgb(20, 37, 131);
}
