:root {
  --error-border: red;
  --error-background: rgb(255, 215, 215, 0.562);
  --error-color: rgb(175, 24, 24);
  --success-border: rgb(1, 131, 1);
  --success-background: rgba(215, 255, 215, 0.562);
  --success-color: rgb(1, 71, 1);
}

.error {
  margin: 15px 0 10px;
  border: var(--error-border) solid 1px;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  text-align: center;
  background-color: var(--error-background);
  color: var(--error-color);
}
.success {
  border: var(--success-border) solid 1px;
  background-color: var(--success-background);
  color: var(--success-color);
}
