<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/error.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <h1 class="display-1 text-center">Oops...</h1>
      <p class="text-center lead">
        Algo deu errado, não conseguimos encontrar a página.
      </p>
      <a href="/">Clique aqui e tente novamente</a>
    </section>
  </body>
</html>
