<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('includes/nav') %>
    <div class="container">
      <div class="header">
        <h1>Seus agendamentos</h1>
      </div>
      <div class="responsive-table">
        <table class="table">
          <tr class="custom-border">
            <td>Lucas</td>
            <td>11945863252</td>
            <td>11:30</td>
            <td>23/09/2024</td>
          </tr>
          <tr>
            <td>Lucas</td>
            <td>11945863252</td>
            <td>11:30</td>
            <td>23/09/2024</td>
          </tr>
          <tr>
            <td>Lucas</td>
            <td>11945863252</td>
            <td>11:30</td>
            <td>23/09/2024</td>
          </tr>
          <tr>
            <td>Lucas</td>
            <td>11945863252</td>
            <td>11:30</td>
            <td>23/09/2024</td>
          </tr>
        </table>
      </div>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
