<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/register.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <body>
    <%- include('includes/nav') %>
    <section class="container">
      <div class="welcome">
        <h1>Sign In</h1>
        <div>Bem-vindo!</div>
      </div>
      <%- include('includes/messages') %>
      <form class="forms" action="/" method="post">
        <input placeholder="Email" type="text" class="user form-class" name="email" />
        <input
          placeholder="Senha"
          type="password"
          name="password"
          class="password form-class"
        />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="sign-in">Entrar</button>
      </form>

      <div class="options">
        <a href="/register">Cadastrar</a>
        <a href="http://">Esqueci a senha</a>
      </div>
    </section>
  </body>
</html>
