<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/register.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <%- include('includes/nav') %>
    <section class="container">
      <h1>Realize seu cadastro!</h1>
      <%- include('includes/messages') %>

      <form class="forms" action="/register/registered" method="post">
        <input
          class="name"
          placeholder="Seu nome aqui"
          type="text"
          name="name"
          id=""
        />
        <input
          class="number"
          placeholder="Seu E-mail aqui"
          type="email"
          name="email"
        />
        <input
          class="confirmEmail"
          placeholder="Confirme seu E-mail"
          type="text"
          name="confirmEmail"
        />
        <input
          class="password"
          placeholder="Sua senha aqui"
          type="password"
          name="password"
        />
        <input
          class="confirmPassword"
          placeholder="Confirme sua senha"
          type="password"
          name="confirmPassword"
        />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <button type="submit">Cadastrar</button>
      </form>
    </section>
  </body>
</html>
